@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .threeD {
        transform: translate3d(calc(-25%), 0, 0);
        animation: marquee 5s linear infinite;
    }
    @keyframes marquee {
        0% {
            transform: translate3d(calc(-25%), 0, 0);
        }
        100% {
            transform: translate3d(calc(-50%), 0, 0);
        }
    }
    .pause {
        animation-play-state: paused;
    }
    .running {
        animation-play-state: running;
    }
}
